@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.ict-card {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  padding: 1em;
}

.ict-card:hover {
  opacity: 0.8;
}

.ict-card {
  span, i {
    font-size: 250%;
    padding-bottom: .5em;
  }
}

.benefit-row {
  padding: 1em;
}
