<!-- Jumbotron -->
<div class="jumbotron">
  <p class="lead">My super pitch</p>
  <p><a class="btn btn-lg btn-success" href="#" role="button">Request Demo</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="col-lg-4">
    <h2>Feature 1</h2>
    <p>Feature 1 description</p>
    <p><a class="btn btn-primary" href="#" role="button">View more</a></p>
  </div>
  <div class="col-lg-4">
    <h2>Feature 2</h2>
    <p>Feature 2 description</p>
    <p><a class="btn btn-primary" href="#" role="button">View more</a></p>
  </div>
  <div class="col-lg-4">
    <h2>Feature 3</h2>
    <p>Feature 3 description</p>
    <p><a class="btn btn-primary" href="#" role="button">View more</a></p>
  </div>
</div>
